.mega-dropdown {
    position: static !important;
  }
  .mega-dropdown-menu {
      padding: 100px;
      width: 100%;
      box-shadow: none;
      -webkit-box-shadow: none;
  }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  .mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
  }
  .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
  }
  
  .carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
  
  }
  .left.carousel-control {
    right: 30px;
    left: inherit;
  }
  .carousel-control .glyphicon-chevron-left, 
  .carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
  }
  /*
.social-container{
  position: fixed; 
  z-index: 99;
  left: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-button{
  position: relative; 
  z-index: 99;
  padding: .5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: .5rem;
  width: 50px;
  height: 50px;
  border: solid 1px #000;
}
.social-button:hover{
  color: #fff;
}
.social-button.fb{
  background-color: blue;
}
.social-button.wa{
  background-color: green;
}

*/
 
.social {
/* Bajamos la barra 200px de arriba a abajo */
  position: fixed; 
  z-index: 99;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li  .fa-facebook-fa-square {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li  .fa-whatsapp-wa{background: green;}
	.social ul li  .fa-linkedin-inn {background: #81838d;}
	.social ul li  .fa-envelope-em{background: #ae181f;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

  img.zoom-out{
    transition: all .5s ease;
  }
  img.zoom-out:hover{
    transform: scale(1.08);
  }

